
.detailsSection{
    display: flex;
    /* margin: 20px 1520px 0 0; */
    /* margin-left: 103px; */
}
ul{
    display: flex;
    /* justify-content: space-around; */
}
ul li{
    list-style: none;
}

ul li{
    margin: 23px;
}
Link{
    text-decoration: none;
}
.link{
    position: relative;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: #a0a0a0;
    font-size: 18px;
    letter-spacing: 0.5px;
    padding: 0 10px;
    color: #152d4e;
    /* border: 1px solid royalblue; */
}
.link::after{
    content: "";
    position: absolute;
    background-color: #ff3c78;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px ;
    transition: 0.3s;
}
.link:hover::after{
    width: 100%;
}
