.NoteItem__container {
  width: 504px;
  height: 200px;
  border-radius: 0.3em;
  padding: 1em;
  margin-bottom: 1em;
  display: inline-block;
  cursor: pointer;
  box-shadow: -5px 0px 0px green, 5px 1px 22px -1px lightgray;
  border-left: 5px solid #09a04f;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.788);
  color: gray;
}
.textNote {
  overflow: hidden;
}
.below {
  margin-top: -33px;
}
.content {
  padding-left: 20px;
  text-align: justify;
}
.below p {
  padding: 3px;
}
.below .date {
  margin-top: -23px;
}
.below button {
  margin-top: -33px;
}
.dropdown-toggle {
  margin-left: 270px;
  display: block;
  margin-top: -150px;
  color: gray;
  font-size: 28px;
}
.dropdown-menu {
  margin-top: -112px;
  margin-left: 112px;
}
.navbar-expand {
  height: 0px;
  width: 0px;
}
