@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");

.peek{
    margin: 0 0px 0 -120px;
}
.follow{
    margin: 0 0 0 80px;
}

footer a{
    font-family: "DM Sans", sans-serif;
}